body{
  text-align: center;
}
.no-comeso{
  width: 500px;
  background: aqua;
}
.bordas{
  border: solid;
}
.tamanho{
 border:solid 10px;
}
.cor{
  border: solid 10px green;
}
.Redondo{
  border-radius: 5px;
  border: solid;
}
.teste-img{
  border-radius: 100px;
  border:solid 10px black;
}
.circular-img{
  height: 300px;
  width: 300px;
  border-radius: 150px;
  border: solid 10px ;
}
.sem-borda{
  border-radius: 100px;
}
.posi{
  padding: 100px 20px 20px 20px;
}
.estili{
  border-radius: 50px 0 0 0;
}
.fonte{
  font-family: Sans-Serif;
}